:host {
	display: flex;
	flex-flow: column;
	place-content: center space-evenly;
	align-items: center;
	position: relative;
	height: 40px;
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 0px;
	box-sizing: border-box;
	outline: 0px;
	overflow: hidden;
	font-size: inherit;
	color: inherit;
	flex-basis: 100%;

	--color: unset;
	--icon-color: inherit;
	--icon-filter: none;
	--mdc-icon-size: 20px;
	--label-color: inherit;
	--label-filter: none;
	--background: var(--color, var(--state-inactive-color));
	--background-height: 100%;
	--background-opacity: 0.2;
}

.container {
	all: inherit;
	overflow: hidden;
	height: 100%;
}

.background {
	position: absolute;
	width: inherit;
	height: var(--background-height);
	background: var(--background, var(--disabled-color));
	opacity: var(--background-opacity);
	z-index: 1;
}

ha-icon {
	position: relative;
	pointer-events: none;
	display: inline-flex;
	flex-flow: column;
	place-content: center;
	z-index: 2;
	color: var(--icon-color);
	filter: var(--icon-filter);
}

.label {
	position: relative;
	pointer-events: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 15px;
	line-height: 15px;
	width: inherit;
	margin: 0;
	font-family: inherit;
	font-size: 12px;
	font-weight: bold;
	z-index: 2;
	color: var(--label-color);
	filter: var(--label-filter);
}
