:host {
	overflow: visible;
	pointer-events: none;

	--color: var(--tile-color);
	--opacity: 1;
}

.slider {
	position: absolute;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	height: inherit;
	background: none;
	pointer-events: all;
	z-index: 2;
}

.slider,
.default-thumb,
.flat-thumb,
.round-thumb,
.off {
	width: inherit;
	overflow: hidden;
	touch-action: pan-y;
}

.line-thumb {
	width: calc(100% - 5px);
}

.default-thumb::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	height: 30px;
	width: var(--thumb-width, 12px);
	border-style: solid;
	border-width: 4px;
	border-radius: var(--thumb-border-radius, 12px);
	border-color: var(--color);
	background: #ffffff;
	cursor: pointer;
	opacity: var(--opacity);
	box-shadow: var(
		--thumb-box-shadow,
		calc(-100vw - (var(--thumb-width, 8px) / 2)) 0 0 100vw var(--color),
		-4px 0 0 6px var(--color)
	);
}

.default-thumb::-moz-range-thumb {
	appearance: none;
	-moz-appearance: none;
	height: 22px;
	width: var(--thumb-width, 4px);
	border-style: solid;
	border-width: 4px;
	border-radius: var(--thumb-border-radius, 12px);
	border-color: var(--color);
	background: #ffffff;
	cursor: pointer;
	opacity: var(--opacity);
	box-shadow: var(
		--thumb-box-shadow,
		calc(-100vw - (var(--thumb-width, 4px) / 2)) 0 0 100vw var(--color),
		-4px 0 0 6px var(--color)
	);
}

.flat-thumb::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	height: 40px;
	width: var(--thumb-width, 16px);
	background: var(--color);
	cursor: pointer;
	opacity: var(--opacity);
	z-index: 2;
	box-shadow: var(
		--thumb-box-shadow,
		calc(-100vw - (var(--thumb-width, 16px) / 2)) 0 0 100vw var(--color)
	);
	border-radius: var(--thumb-border-radius, 0);
}

.flat-thumb::-moz-range-thumb {
	appearance: none;
	-moz-appearance: none;
	height: 40px;
	width: var(--thumb-width, 16px);
	border-color: var(--color);
	background: var(--color);
	cursor: pointer;
	opacity: var(--opacity);
	z-index: 2;
	box-shadow: var(
		--thumb-box-shadow,
		calc(-100vw - (var(--thumb-width, 16px) / 2)) 0 0 100vw var(--color)
	);
	border-radius: var(--thumb-border-radius, 0);
}

.line-thumb::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	height: 28px;
	width: var(--thumb-width, 10px);
	border-style: solid;
	border-color: #ffffff;
	border-width: 3px;
	border-radius: var(--thumb-border-radius, 12px);
	background: #8a8c99;
	cursor: pointer;
	opacity: var(--opacity);
	box-shadow: var(--thumb-box-shadow, 0 7px 0 0 #ffffff, 0 -7px 0 0 #ffffff);
}

.line-thumb::-moz-range-thumb {
	appearance: none;
	-moz-appearance: none;
	height: 24px;
	width: var(--thumb-width, 4px);
	border-style: solid;
	border-color: #ffffff;
	border-width: 3px;
	border-radius: var(--thumb-border-radius, 12px);
	background: #8a8c99;
	cursor: pointer;
	opacity: var(--opacity);
	box-shadow: var(--thumb-box-shadow, 0 7px 0 0 #ffffff, 0 -7px 0 0 #ffffff);
}

.round-thumb::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	height: 40px;
	width: var(--thumb-width, 40px);
	background: var(--color);
	cursor: pointer;
	opacity: var(--opacity);
	z-index: 2;
	box-shadow: var(
		--thumb-box-shadow,
		calc(-100vw - (var(--thumb-width, 40px) / 2)) 0 0 100vw var(--color)
	);
	border-radius: var(--thumb-border-radius, 40px);
}

.round-thumb::-moz-range-thumb {
	appearance: none;
	-moz-appearance: none;
	height: 40px;
	width: var(--thumb-width, 40px);
	border-color: var(--color);
	background: var(--color);
	cursor: pointer;
	opacity: var(--opacity);
	z-index: 2;
	box-shadow: var(
		--thumb-box-shadow,
		calc(-100vw - (var(--thumb-width, 40px) / 2)) 0 0 100vw var(--color)
	);
	border-radius: var(--thumb-border-radius, 40px);
}

.off::-webkit-slider-thumb {
	visibility: hidden;
}

.off::-moz-range-thumb {
	visibility: hidden;
}

.tooltip {
	z-index: 3;
	background: var(--clear-background-color);
	color: var(--primary-text-color);
	position: absolute;
	border-radius: 0.8em;
	padding: 0.2em 0.4em;
	height: 20px;
	width: fit-content;
	line-height: 20px;
	transform: var(--tooltip-transform);
	display: var(--tooltip-display);
}
.faded-out {
	opacity: 0;
	transition:
		opacity 180ms ease-in-out 0s,
		left 180ms ease-in-out 0s,
		bottom 180ms ease-in-out 0s;
}
.faded-in {
	opacity: 1;
	transition: opacity 540ms ease-in-out 0s;
}
.tooltip::after {
	content: var(--tooltip-label);
}
