:host {
	place-content: center;
}

.icon-label-container {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.icon {
	opacity: 0.77;
}

.label {
	width: fit-content;
	font-size: 14px;
	font-weight: 500;
	opacity: 0.77;
}

.button {
	position: absolute;
	background: none;
	cursor: pointer;
	display: flex;
	flex-flow: column;
	place-content: center space-evenly;
	align-items: center;
	height: inherit;
	width: initial;
	border: none;
	padding: 10px;
	color: inherit;
	z-index: 2;

	--mdc-icon-size: 16px;
}

.button::before {
	display: none !important;
}

#decrement {
	left: 0px;
}

#increment {
	right: 0px;
}

service-call-button {
	position: absolute;
	width: initial;
	padding: 10px;

	--opacity: 0;
	--mdc-icon-size: 16px;
}
